/* This style is for demonstration purposes only. */
/* It's not required for the tabs to function. */
.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  ion-header{
    height: 45px;
  }
  ion-tab-bar{
    height: 60px;
  }
  ion-content{
    height: calc(100vh - 105px);
  }